/* General styling for the webview */
body {
    font-family: var(--vscode-font-family, sans-serif);
    font-size: var(--vscode-font-size, 13px);
    color: var(--vscode-foreground);
    background-color: var(--vscode-editor-background);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    box-sizing: border-box;
}

.text-box-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

/* Styling for the textareas */
textarea,
input[type="text"] {
    width: 100%;
    padding: 8px;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    border: 1px solid var(--vscode-input-border);
    border-radius: 3px;
    font-family: var(--vscode-editor-font-family, monospace);
    font-size: var(--vscode-editor-font-size);
    margin-bottom: 10px;
    resize: none;
}

/* Button group for scrub and unscrub */
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
    width: 100%;
}

/* Buttons should take up equal space */
button {
    padding: 6px 12px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

button#scrubBtn {
    margin-left: 10px;
}

button#unscrubBtn {
    margin-right: 10px;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

button:focus {
    outline: 1px solid var(--vscode-focusBorder);
}

/* Arrow styling for scrub/unscrub buttons */
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.down {
    border-top: 5px solid var(--vscode-editor-foreground);
}

.up {
    border-bottom: 5px solid var(--vscode-editor-foreground);
}

/* Additional settings UI */
small {
    font-size: 11px;
    color: var(--vscode-descriptionForeground);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;
    color: var(--vscode-foreground);
}

.options label {
    margin-right: 10px;
    font-size: 12px;
}